*{
    margin: 0;
    padding: 0;

}



.all .nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
   
}
 .mune .ul {
        
        display: flex;
        gap: 20px;
    }